@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
    border-right: 1px dashed #169297
}

a {
    color: #f99320
}

#navigation {
    background-color: #169297;
    position: fixed;
    top: 0;
    width: 260px;
    margin: 0;
    height: 100%;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center
}

#navigation p {
    margin-bottom: 2px;
    margin-top: 0
}

#navigation p.lower {
    margin-top: 10px
}

#navigation p.link {
    margin-top: 15px
}

#navigation img.external {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px
}

#navigation h1 {
    margin-bottom: 0
}

#navigation #title {
    margin-top: 0
}

#navigation #job {
    margin-top: 40px;
    border: 1px dashed;
    padding: 8px 0
}

#contact {
    margin-top: 60px
}

#language {
    width: 22%;
    margin: 3% auto 15% auto
}

#language div a {
    display: block;
    width: 22px;
    height: 14px
}

#language #french {
    background: url("/images/flag-icons-border.png") 284px 295px;
    float: right
}

#language #english {
    background: url("/images/flag-icons-border.png") 188px 295px;
    float: left
}

#profile {
    margin: 30px auto 20px auto;
    width: 200px;
    height: 200px
}

#profile img {
    width: 200px;
    border-radius: 50%;
    border: 2px solid
}

#content {
    margin-left: 325px;
    margin-right: 20px;
    padding: 5px 15px
}

#content p {
    margin: 0
}

#content ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#content li {
    margin-bottom: 20px
}

#content h2 {
    margin-top: 35px;
    color: #f99320;
    /* text-transform: uppercase */
}

#software {
    padding-bottom: 50px
}

h2#first {
    margin-top: 0;
    padding-top: 25px
}

.strong {
    font-weight: 700;
    color: #169297
}

.italic {
    font-weight: 300;
    font-style: italic
}

.upper {
    text-transform: uppercase
}

.additional-text {
    color: #6e6e6e
}
